@font-face {
  font-family: "iconfont"; /* Project id 2850510 */
  src: url('iconfont.woff2?t=1635927337484') format('woff2'),
       url('iconfont.woff?t=1635927337484') format('woff'),
       url('iconfont.ttf?t=1635927337484') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiayibu:before {
  content: "\e60b";
}

.icon-shijiao1:before {
  content: "\e615";
}

.icon-map:before {
  content: "\e6e0";
}

.icon-_3d:before {
  content: "\e616";
}

.icon-pingmiantu:before {
  content: "\e681";
}

.icon-shangyibu:before {
  content: "\e608";
}

.icon-lianjie:before {
  content: "\e600";
}

